APP_NAME="SEND"
APP_ENV=local
APP_KEY=base64:ICcDQ/J8ojfVxo/PGrjSZ6zRJ5tOX/SuupA1AzmNQgA=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
SEND_ADMIN_EMAIL=pakpalididier@gmail.com

LOG_CHANNEL=errorlog
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kprime_flow
DB_USERNAME=root
DB_PASSWORD=

# kprimesms sender management
# KPRIME_SMS_BASE_URL=https://api-kprimesms.ro-cobra.net/v1/sms/push
# KPRIME_SMS_TOKEN=tKq0YAe7qLCysRmDWzfoOyoui8vwS4UC
# KPRIME_SMS_KEY=7336b26a8c1ace130c162c6599a3bb02

KPRIME_SMS_BASE_URL=https://api.kprimesms.com/v1
KPRIME_SMS_TOKEN=5mNk3ivYwF4dcnWyLqUeucfvDlWefayI
KPRIME_SMS_KEY=51b001f55cec3e0db82773d2dd429eb3
KPRIME_SMS_SENDER=SIKAVI
KPRIME_SMS_SENDER_ID=RfO6aad89a8e9caaj5M
# KPRIME_SMS_RESPONSE_URL=https://webhook.site/5ebe5a8b-59eb-4ffe-a108-c9addefc486d 

KPRIME_SMS_RESPONSE_URL=https://fae6-2c0f-2a80-3-208-c95a-524d-bbdc-46c0.ngrok-free.app/api/sms/callback


KPRIMEPAY_BASE_URL=https://api.kprimepay.com/v2
KPRIMEPAY_TOKEN=kpp_lk_acaad26c68085029a52c143ff1095ac71d00fb60ed57c7c1a01c50135a18242e
KPRIMEPAY_MODE=2
KPRIMEPAY_WITH_FEES=1
KPRIMEPAY_CA_BUNDLE=D:\laragon\etc\ssl\cacert.pem
KPRIMEPAY_SMS_UNIT_PRICE=25
KPRIMEPAY_WHATSAPP_UNIT_PRICE=25
KPRIMEPAY_SMS_UNIT_COST=15
KPRIMEPAY_WHATSAPP_UNIT_COST=15

KPRIMEPAY_PAYOUT_TOKEN=kpp_lk_8c94b9bc44cbbcc3361df95adbf41e7e5af8a80e5119e39a45c88fc48e1de7b1
KPRIMEPAY_PAYOUT_BASE_URL=https://api.kprimepay.com/v2
KPRIMEPAY_PAYOUT_WITH_FEES=0
KPRIMEPAY_PAYOUT_CA_BUNDLE=D:\laragon\etc\ssl\cacert.pem

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
VIEW_COMPILED_PATH=C:/Users/didie/AppData/Local/Temp/pos-view-cache
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=no-reply-cobra@ro-cobra.net
MAIL_PASSWORD=@Kprime228
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply-cobra@ro-cobra.net"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
